<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>COVID-19 Probability Detector</title>
  </head>
  <style>
    .footer {
      margin-top: 30%;
      text-align: center;
    font-size: 20px;
    flex-shrink: 0;
    position: relative;
    padding: 20px;
    background: linear-gradient(40deg, #008000, #000000, #F4483A);
    background-size: 500% 500%;
    animation: change-gradient 10s ease-in-out infinite;
}
  </style>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">COVID-19 Probability Detector</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.linkedin.com/in/atul-kumar-844b1437/">Link</a>
          </li>
          
          
        </ul>
        
      </div>
    </nav>

    <div class="container" style="margin:auto;width:50%">
      <h2 class="text-center mt-4">COVID 19 Probability Detector</h2>

  </div> 
  
  <div class="container" style="margin:auto;width:50%">
    
    <h3 class="text-center mt-6">Patient's probability of infection is {{inf}} %. Thank You</h3>

    <a href="/">
      <button class="btn btn-success my-2 my-sm-0" type="submit">Go Back</button>
  </a>
</div> 

<div class='footer'>
        
  <strong class='footer-description'>Made by Atul Kumar.</strong>
</div>


